backend/.env
backend/node_modules
frontend/node_modules
scripts/venv
__pycache__/
*.pyc
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform/
terraform/terraform.tfvars
.DS_Store